/* Navigation bar styles */
.wrapper2 {
  display: flex;
  justify-content: space-between; /* Spread the items equally */
  align-items: center;
  background-color: #333; /* Background color for the navigation bar */
  padding: 10px 20px; /* Padding for the navigation bar */
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav li {
  margin-right: 10px;
}

.nav a {
  text-decoration: none;
  font-size: 16px;
  color: #fff; /* Text color */
  transition: color 0.3s; /* Transition effect on text color */
}

.nav a:hover,
.nav li.active a {
  color: #D5AC4E; /* Text color on hover or when active */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .wrapper2 {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start; /* Align items to the start on small screens */
  }

  .nav {
    margin-top: 10px; /* Add space between navigation bar and links */
  }

  .nav li {
    margin-right: 0;
    margin-bottom: 5px; /* Add space between list items on small screens */
  }
}


/* ----------------------------------------------Body formatting------------------------------------- */



/* General Wrapper Styles */
.body {
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px;
}


/* ----------------------------------------------Container------------------------------------- */

.container {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding as needed to create space around the content */
}

/* ----------------------------------------------Image formatting------------------------------------- */

.image-list {
  list-style-type: none; /* Removes the default list styling */
  padding: 0; /* Removes the default padding */
  margin: 0; /* Removes the default margin */
}

.image-list li {
  display: inline-block; /* Displays list items inline */
  margin-right: 10px; /* Adds some space between the images */
}

.image-list img {
  width: auto; /* Maintains the original aspect ratio */
  height: 200px; /* Sets a uniform height for all images */
  vertical-align: middle; /* Aligns images vertically in line */
}

/* ----------------------------------------------Various website styles------------------------------------- */


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    color: #2D3142;
}

/* Set the background colour */
body {
    background-color: #F1EEE6;
}

p {
  color: #2D3142;
}

body {
 font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
 color: #2D3142
}

.special-h1 {
    font-weight: bolder;
    font-family: 'Crimson Text', serif;
    color: #2D3142;
    font-size: 40px;
    text-align: center;
}

.special-h2 {
  font-family: 'Crimson Text', serif;
  margin-bottom: 80px; /* Adjust the value as needed to control the spacing */
  color: #D74411
  

}

.special-h3 {
  font-weight: bolder;
  font-family: 'Crimson Text', serif;
  color: #2D3142;
  font-size: 40px;
  text-align: center;}

.link-h2 {
  color: #D5AC4E; /* Remove underlines */
  font-weight: bold;
  text-align: center;

}

/* Increase spacing for <li> bullet points */
li {
  margin-left: 20px; /* Adjust the value as needed to control the spacing */
  list-style: disc outside; /* Add bullet points outside the list item */
  margin-bottom: 10px; /* Adjust the value as needed to control the spacing */
}


/* Remove underlines and set the color */
   a {
        text-decoration: none; 
        color: #59B292; 
        font-weight: bold;
      }


      table {
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }



    