/* -------------------------------------- Font Imports -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

/* -------------------------------------- Navigation Bar -------------------------------------- */

/* General Wrapper Styles */
.wrapper {
    width: 100%;
    text-align: center; /* Center the navigation */
    margin: 0 auto;
    padding: 5px 0;
    text-transform: uppercase;
}

.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.5s ease-out;
    text-align: center;
}

/* Navigation Styles */
#topnav {
    display: inline-block;
    margin: 0 auto;
}

/* Unordered List Styles for Navigation */
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* List Item Styles */
.nav li {
    display: inline-block;
    margin-right: -4px;
}

/* Link Styles */
.nav a {
    text-decoration: bold;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    padding: 10px 15px;
    display: block;
    color: #FFE3E3;
    background-color: #FF858D;
    transition: background-color 0.3s;
}

/* Hover and Active States */
.nav a:hover,
.nav li.active a {
    background-color: #0C090D;
}

/* Last Item Style */
.nav .last {
    margin-right: 0;
}

/* Clearfix */
.clear {
    clear: both;
}

/* -------------------------------------- Body Formatting -------------------------------------- */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 5px 0px;
}

/* General Wrapper Styles */
.body {
    width: 100%;
    margin: 0 auto;
    padding: 100px 20px;
}

/* -------------------------------------- Video Formatting -------------------------------------- */
.video-container {
    margin-bottom: 30px;
}

video {
    display: block;
}

/* -------------------------------------- Image Formatting -------------------------------------- */
.image-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.image-list li {
    display: inline-block;
    margin-right: 10px;
}

.image-list img {
    width: auto;
    height: 200px;
    vertical-align: middle;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* -------------------------------------- Scroll to Top -------------------------------------- */
html {
    scroll-behavior: smooth;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FF858D;
    color: #FFE3E3;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s;
    font-family: 'Work Sans', sans-serif;
  }

.scroll-to-top:hover {
    background-color: #0C090D;
}

.scroll-to-top.show {
    opacity: 1;
}

/* -------------------------------------- Various Website Styles -------------------------------------- */
body {
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    color: #FFE3E3;
    font-size: 20px;
}

/* Set the background color */
body {
    background-color: #0C090D;
}

p {
    color: #FFE3E3;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
    color: #FF858D;
}

.special-h1 {
    font-weight: bold;
    color: #FF858D;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.special-h2 {
  font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 80px;
  color: #FF858D;
}

.special-h3 {
    text-align: center;

}

.index-h2 {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
        color: #FF858D;
    padding: -10px;
}

.link-h2 {
    color: #FF858D;
    font-weight: bold;
    text-align: center;
}

li {
    margin-left: 20px;
    list-style: disc outside;
    margin-bottom: 10px;
    font-size: 20px;
}

ul {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #FFA467;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #FFE3E3;
}

th, td {
    padding: 8px;
    text-align: left;
}

/*-----------Table Formatting------------*/

